[user]
    name = Alexandre Jardin

[include]
    path = .gitconfig-corporate

[includeIf "gitdir:~/Sites/ajardin/"]
    path = .gitconfig-opensource

[alias]
    aliases = config --get-regexp alias
    fp = fetch --all --prune --tags --force
    last = log --graph --pretty=tformat:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%an %cr)%Creset' -n15
    oops = commit --amend --no-edit --date=now
    rb = rebase origin/master
    rbi = "!r() { git rebase -i HEAD~$1; }; r"
    st = status

[checkout]
    defaultRemote = origin

[color]
    ui = auto

[core]
    compression = 9
    excludesfile = ~/.gitignore
    fscache = true
    fsmonitor = true
    pager = cat
    untrackedCache = true

[credential]
    helper = osxkeychain

[diff]
    colorMoved = dimmed-zebra

[help]
    autocorrect = 10

[init]
    defaultBranch = main

[interactive]
    diffFilter = delta --color-only

[maintenance "commit-graph"]
    enabled = true
    schedule = hourly

[maintenance "gc"]
    enabled = true
    schedule = weekly

[maintenance "incremental-repack"]
    enabled = true
    schedule = daily

[maintenance "loose-objects"]
    enabled = true
    schedule = daily

[maintenance "pack-refs"]
    enabled = true
    schedule = daily

[maintenance "prefetch"]
    enabled = true
    schedule = hourly

[merge]
    conflictstyle = diff3

[push]
    autoSetupRemote = true
    default = current

[rerere]
    enabled = true
