[user]
    name = Alexandre Jardin

[includeIf "gitdir:~/Sites/ajardin/"]
    path = ~/.gitconfig-opensource

[includeIf "gitdir:~/Sites/convelio/"]
    path = ~/.gitconfig-convelio

[alias]
    aliases = config --get-regexp alias
    fp = fetch --all --prune --tags --force
    last = log --graph --pretty=tformat:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%an %cr)%Creset' -n15
    oops = commit --amend --no-edit
    rb = rebase origin/master
    rbi = "!r() { git rebase -i HEAD~$1; }; r" # Interactive rebase with the given number of latest commits
    st = status

[color]
    ui = auto

[core]
    excludesfile = ~/.gitignore
    pager = delta

[checkout]
    defaultRemote = origin

[credential]
    helper = osxkeychain

[delta]
    navigate = true  # use n and N to move between diff sections
    light = false    # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)

[diff]
    colorMoved = default

[interactive]
    diffFilter = delta --color-only

[help]
    autocorrect = 10

[merge]
    conflictstyle = diff3

[pull]
    rebase = true

[rerere]
    enabled = true
